<ul class="title-area">
  <li class="name">
    <h1>{{link-to "MelanieAndScott" 'index'}}</h1>
  </li>
  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
</ul>

<section class="top-bar-section">
  <!-- Right Nav Section -->
  <ul class="right">
    <li>{{link-to "Directions" 'index'}}</li>
    <li>{{link-to "Accommodations" 'index'}}</li>
    <li>{{link-to "About Us" 'index'}}</li>
    <li>{{link-to "The Area" 'index'}}</li>
    <li>{{link-to "Registry" 'index'}}</li>
  </ul>
</section>
